<%- layout("layouts/boilerplate.ejs") %>
<body>
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form method="post" action = "/listings" novalidate class="needs-validation" >
        <h3>Create a New Listing</h3>
        <div class="mb-3">
        <label for="title" class="from-label">Title:</label>
        <input type="text" id="title" name="title"  class="form-control" placeholder="Enter title" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a title.</div>
        </div>

        <div class="mb-3">
        <label for="image" class="from-label">Image URL:</label>
        <input type="text" id="image" name="image"  class="form-control" placeholder="Enter url" >
        </div>

        <div class="mb-3">
        <label for="description" class="from-label">Description:</label>
        <textarea type="text" id="description" name="description"  class="form-control" placeholder="Give description" required></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a description.</div>
        </div>

        <div class="mb-3">
        <label for="price" class="from-label">Price:</label>
        <input type="number" id="price" name="price" class="form-control"  placeholder="Enter price" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a price.</div>
        </div>

        <div class="mb-3">
        <label for="location" class="from-label">Location:</label>
        <input type="text" id="location" name="location" class="form-control" placeholder="Enter location" required  >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a location.</div>
        </div>
        
        <div class="mb-3">
        <label for="country" class="from-label">Country:</label>
        <input type="text" id="country" name="country" class="form-control" placeholder="Enter country" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a country.</div>
        </div> 
        <br><br>
        <button type="submit" class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
